/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.vscode export-ignore
/readme_assets export-ignore
/coverage export-ignore
/dist export-ignore

*.go diff=go

web/html2canvas.min.js linguist-detectable=false
web/sjcl.js linguist-detectable=false
web/fonts/* linguist-detectable=false
