name: Release
on:
  push:
    tags:
      - "*"
jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.4"
      # - name: Import GPG key
      #   uses: crazy-max/ghaction-import-gpg@v5
      #   with:
      #     gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      #     passphrase: ${{ secrets.GPG_PASSPHRASE }}
      # - name: Sign xrdebug.phar
      #   run: gpg -ab xrdebug.phar
      - name: Test
        run: |
          make test
      - name: Cross build
        run: |
          make build-all
      - name: Cross distribution
        run: |
          make dist-all VERSION=${{ github.ref_name }}
      - name: Upload artifacts
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBodyDuringUpdate: true
          artifacts: >
            dist/xrdebug-*.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}
